node_modules/
docs/
coverage/
.nyc_output/
npm-debug.log
bla.sh
log.txt
dist/
old/
test/data/bla.log
*.sqlite3
.idea
*.log
config/server.key
config/server.csr
config/server.crt
config/server.key.org
query.js
apidoc/
.vscode/
/nbproject/private/
example/logs
example/.sequelizerc
example/config/log.js
example/models/index.js
example/migrations
example/seeders
